@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-6 {
    position: absolute;
    -webkit-text-stroke: 10px white;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("@/assets/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
  }
}

:root {
  background-image: linear-gradient(to bottom, #322f37, #49454f);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Vue-Toastification__toast {
  margin-bottom: 50% !important;
  min-height: 91px !important;
  max-height: 91px !important;
  overflow: visible !important;
}

.Vue-Toastification__toast--info {
  min-width: 100% !important;
  max-width: 100% !important;
  background-color: #1d1a22 !important;
}

.Vue-Toastification__toast-body {
  position: relative;
  bottom: 60px;
  height: 81px;
  content: url("@/assets/answer.svg");
}

.Vue-Toastification__progress-bar {
  left: 5% !important;
  width: 90% !important;
  bottom: 21px !important;
  background-color: #00bdf9 !important;
}

.slideIn {
  animation-name: slideInLeft;
  animation-duration: 800ms;
  animation-fill-mode: both;
}

.slideOut {
  animation-name: slideOutRight;
  animation-duration: 800ms;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-1000px);
    /*transform-origin: 100% 50%;*/
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    /*transform-origin: 50% 50%;*/
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    /*transform-origin: 50% 50%;*/
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    /*transform-origin: 0% 50%;*/
    opacity: 0;
  }
}

/*:root {*/
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/

/*  color-scheme: light dark;*/
/*  color: rgba(255, 255, 255, 0.87);*/
/*  background-image: linear-gradient(to bottom, #322f37, #49454f);*/
/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  !*display: flex;*!*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 1rem;*/
/*  text-align: center;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
